html {font-size: 16px;}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
  font-family: sans-serif;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2.827em;
}

h2 {font-size: 1.999em;}

h3 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}