@font-face {
  font-family: "heading_bold";
  font-style: normal;
  font-weight: normal;

  src: url("../fonts/opensans-bold-webfont.woff2") format("woff2"),
  url("../fonts/opensans-bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "heading_regular";
  font-style: normal;
  font-weight: normal;

  src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"),
  url("../fonts/opensans-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "paragraph_regular";
  font-style: normal;
  font-weight: normal;

  src: url("../fonts/RobotoSlab-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "paragraph_bold";
  font-style: normal;
  font-weight: normal;

  src: url("../fonts/RobotoSlab-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "paragraph_thin";
  font-style: normal;
  font-weight: normal;

  src: url("../fonts/RobotoSlab-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "paragraph_light";
  font-style: normal;
  font-weight: normal;

  src: url("../fonts/RobotoSlab-Light.ttf") format("truetype");
}

html {
  font-size: 16px;
}

@media (max-width: 425px) {
  html {
    font-size: 14px;
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: "paragraph_regular", serif;
  line-height: 1.45;
  color: #373e44;
}

p {
  margin-bottom: 1.3em;
}

h1,
h2,
h3,
h4 {
  margin: 1.414em 0 0.5em;
  font-family: "heading_bold", sans-serif;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2.827em;
}

h2 {
  font-size: 1.999em;
}

h3 {
  font-size: 1.414em;
}

small,
.font_small {
  font-size: 0.707em;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #373e44;
}

blockquote p {
  margin: 0 0 10px;
  font-size: 18px;
  line-height: 1.7em;
  text-align: left;
}

@media (max-width: 425px) {
  blockquote p {
    font-size: 14px;
    line-height: 1.5em;
  }
}

blockquote footer {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  text-align: left;
}

p {
  line-height: 1.5em;
}

strong {
  font-family: "heading_bold";
}

number {
  display: inline-block;
  font-family: "heading_bold";
}
