html {font-size: 16px;}

@media only screen and (max-width: 480px) {
  html {
    font-size: 10px !important;
  }

  #statement-wrapper {
    width: 100% !important;
  }

  .instructions-box {
    margin-left: 0 !important;
    margin-bottom: 1rem !important;
    min-height: 200px !important;
  }

  .instructions-box.box-content {
    padding: 2rem !important;
  }

}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
  font-family: "Open Sans", Arial, sans-serif;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2.827em;
}

h2 {font-size: 1.999em;}

h3 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}