html {
  font-size: 16px;
}

@media (max-width: 425px) {
      html {
        font-size: 10px;
      }
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #373e44;
}


p {
  margin-bottom: 1.3em;
}

h1,
h2,
h3,
h4 {
  margin: 1.414em 0 0.5em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2.827em;
}

h2 {
  font-size: 1.999em;
}

h3 {
  font-size: 1.414em;
}

small,
.font_small {
  font-size: 0.707em;
}
